{% extends 'base.html' %}

{% block title %}
<h1 class="display-1 text-center">Pets</h1>
{% endblock %}


{% block content %}
<div class="container row d-flex justify-content-center">

    {% for pet in pets %}
    <a href="/{{ pet.id }}" class="card-link p-0 m-1 text-dark">
        <div class="card col-auto m-2" style="width: 12rem;">
            <img src="{{ pet.photo_url }}" class="card-img-top" alt="animal photo">
            <div class="card-body">
                {% if pet.available %}
                <p class="card-text"><strong><span class="text-info">{{ pet.name }}</span> is available!</strong></p>
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %}

    <div class="container row">
        <a href="/add"><button class="m-5 btn btn-info d-block" type="button">Add Pet</button></a>
    </div>

</div>
{% endblock %}