{% extends 'base.html' %}

{% block title %}
<h1 class="display-1 text-center">{{ pet.name }}</h1>
{% endblock %}


{% block content %}
<div class="container">
    <div class="card col m-3">
        <img src="{{ pet.photo_url }}" class="card-img-top" alt="animal photo">
        <div class="card-body">
            <p class="card-text">Name: {{ pet.name }}</p>
            <p class="card-text">Species: {{ pet.species }}</p>
            {% if pet.age %}
            <p class="card-text">Age: {{ pet.age }}</p>
            {% endif %}
            {% if pet.notes %}
            <p class="card-text">Notes: {{ pet.notes }}</p>
            {% endif %}
            {% if pet.available %}
            <p class="card-text"><strong><span class="text-info">{{ pet.name }}</span> is available!</strong></p>
            {% endif %}
            <form action="/{{ pet.id }}/edit">
                <a href="/"><button type="button" class="btn btn-warning">Back</button></a>
                <button class="btn btn-info">Edit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}